/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #EC066A;
    --secondary-color: #3E9940;
    --accent-color: #130663;
    --text-color: #333;
    --light-bg: #f4f4f4;
    --white: #fff;
    --light-gray: #e3e3e3;
    --dark-gray: #8b8a8a;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-bg);
    background-color: var(--light-bg);
    overflow-x: hidden;
    width: 100%;
}

html {
    overflow-x: hidden;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 350px;
}

/* Utilities */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Page Header (common across pages) */
.page-header {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 80px 0 0px;
    text-align: center;
}

.page-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Media Queries for Global Elements */
@media (max-width: 768px) {
    .page-header {
        padding: 70px 0 0px;
    }

    .page-header h1 {
        font-size: 2rem;
    }

    body.menu-open {
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .page-header {
        padding: 70px 0 0px;
    }

    .page-header h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 350px) {
    body {
        min-width: 320px;
    }

    .container {
        min-width: 320px;
    }
}